<div class="sport-summary" ng-show="workouts">
  <table ng-controller="WorkoutSportsSummaryDirectiveController as Col">
    <tr class="icon">
      <th>
<!--
        <div class="btn-group">
          <button type="button"
                  class="btn btn-xs btn-primary"
                  ng-repeat="type in allSummaryTypes"
                  ng-class="{active: summaryType == type.id}"
                  ng-click="setSportSummaryType(type)"
                  ng-bind="type.name">
          </button>
        </div>
-->
      </th>
      <td class="data">
        <div class="unfilter" ng-show="sportFilter != 'all'">
          (Click again to clear the filter)
        </div>
        <span ng-repeat="(sportId, _) in sports"
              ng-mouseover="Col.active = $index"
              ng-mouseout="Col.active = -1"
              ng-style="place($index)"
              class="value">
          <sport-icon sport-id="sportId"></sport-icon>
        </span>
      </td>
    </tr>
    <tr ng-repeat="metric in ['sessions', 'time', 'distance', 'elevation']"
        class="data-row" ng-class="metric">
      <th>
        <span class="text"><span ng-bind="metric"></span> <icon type="{{metric}}"></icon>
      </th>
      <td class="data">
        <span ng-repeat="(sportId, sport) in sports"
              ng-style="place($index)"
              ng-mouseover="Col.active = $index"
              ng-mouseout="Col.active = -1"
              class="value"
              ng-class="{ 'bg-for-{{sportId}}': Col.active == $index }">
          <span ng-switch="metric">
            <span ng-switch-when="sessions">
              <span ng-bind="sport.sessions"></span><span class="unit"> x</span>
            </span>
            <time
               ng-switch-when="time"
               no-icon="true"
               value="sport.totalDuration">
            </time>
            <distance
               ng-switch-when="distance"
               no-icon="true"
               value="sport.totalDistance">
            </distance>
            <elevation
               ng-switch-when="elevation"
               no-icon="true"
               value="sport.totalElevation">
            </elevation>
          </span>
        </span>
      </td>
    </tr>
  </table>
</div>
