<div class="sport-summary" ng-show="workouts">
  <table ng-controller="WorkoutSportsSummaryDirectiveController as Col">
    <tr class="icon">
      <th>
<!--
        <div class="btn-group">
          <button type="button"
                  class="btn btn-xs btn-primary"
                  ng-repeat="type in allSummaryTypes"
                  ng-class="{active: summaryType == type.id}"
                  ng-click="setSportSummaryType(type)"
                  ng-bind="type.name">
          </button>
        </div>
-->
      </th>
      <td class="data">
        <div class="unfilter" ng-show="sportFilter != 'all'">
          (Click again to clear the filter)
        </div>
        <span class="value" ng-repeat="(sportId, _) in sports" ng-style="place($index)"
              ng-mouseover="Col.active = $index" ng-mouseout="Col.active = -1">
          <sport-icon sport-id="sportId"></sport-icon>
        </span>
      </td>
    </tr>
    <tr class="data-row sessions">
      <th><span class="text">Sessions <icon type="sessions"></icon></th>
      <td class="data">
        <span class="value" ng-repeat="(sportId, sport) in sports" ng-style="place($index)"
              ng-class="{ 'bg-for-{{sportId}}': Col.active == $index }" ng-mouseover="Col.active = $index" ng-mouseout="Col.active = -1">
          <span ng-bind="sport.sessions"></span><span class="unit"> x</span>
        </span>
      </td>
    </tr>
    <tr class="data-row time">
      <th><span class="text">Time <icon type="time"></icon></th>
      <td class="data">
        <span class="value" ng-repeat="(sportId, sport) in sports" ng-style="place($index)"
              ng-class="{ 'bg-for-{{sportId}}': Col.active == $index }" ng-mouseover="Col.active = $index" ng-mouseout="Col.active = -1">
          <time no-icon="true" value="sport.totalDuration"></time>
        </span>
      </td>
    </tr>
    <tr class="data-row distance">
      <th><span class="text">Distance <icon type="distance"></icon></th>
      <td class="data">
        <span class="value" ng-repeat="(sportId, sport) in sports" ng-style="place($index)"
              ng-class="{ 'bg-for-{{sportId}}': Col.active == $index }" ng-mouseover="Col.active = $index" ng-mouseout="Col.active = -1">
          <distance no-icon="true" value="sport.totalDistance"></distance>
        </span>
      </td>
    </tr>
    <tr class="data-row elevation">
      <th><span class="text">Elevation gain <icon type="elevation"><icon></th>
      <td class="data">
        <span class="value" ng-repeat="(sportId, sport) in sports" ng-style="place($index)"
              ng-class="{ 'bg-for-{{sportId}}': Col.active == $index }" ng-mouseover="Col.active = $index" ng-mouseout="Col.active = -1">
          <elevation no-icon="true" value="sport.totalElevation"></elevation>
        </span>
      </td>
    </tr>
  </table>
</div>
