<div class="sport-summary">
  <table>
    <tr class="icon">
      <th>
<!--
        <div class="btn-group">
          <button type="button"
                  class="btn btn-xs btn-primary"
                  ng-repeat="type in allSummaryTypes"
                  ng-class="{active: summaryType == type.id}"
                  ng-click="setSportSummaryType(type)"
                  ng-bind="type.name">
          </button>
        </div>
-->
      </th>
      <td class="data">
        <a class="unfilter" ng-show="sportFilter != 'all'" ng-click="setSportFilter('all')">
          (Click to show all sports)
        </a>
        <span ng-repeat="sport in sports track by sport.exerciseType.id"
              ng-mouseover="setActiveColumn($index)"
              ng-mouseout="setActiveColumn(-1)"
              class="sport-summary-value"
              ng-style="{ 'left': elementWidth * $index }"
              ng-click="setSportFilter(sport.exerciseType.id)">
          <sport-icon no-tooltip="true" exercise-type-id="{{sport.exerciseType.id}}"></sport-icon>
        </span>
      </td>
    </tr>
    <tr bindonce
        ng-repeat="metric in ['Sessions', 'Time', 'Distance', 'Elevation']"
        class="data-row">
      <th>
        <span class="text"><span class="hidden-xs" bo-text="metric"></span> <icon type="{{metric | lowercase}}"></icon>
      </th>
      <td class="data">
        <span ng-repeat="sport in sports"
              ng-mouseover="setActiveColumn($index)"
              ng-mouseout="setActiveColumn(-1)"
              class="sport-summary-value"
              ng-style="{ 'left': elementWidth * $index, 'background-color': activeColumn == $index ? sport.exerciseType.color : sport.exerciseType.bgColor }">
          <span ng-switch="metric | lowercase">
            <span ng-switch-when="sessions">
              <span ng-bind="sport.sessions"></span><span class="unit"> x</span>
            </span>
            <time
               ng-switch-when="time"
               no-icon="true"
               value="sport.totalDuration">
            </time>
            <distance
               ng-switch-when="distance"
               no-icon="true"
               value="sport.totalDistance">
            </distance>
            <elevation
               ng-switch-when="elevation"
               no-icon="true"
               value="sport.totalElevation">
            </elevation>
          </span>
        </span>
      </td>
    </tr>
  </table>
</div>
