@total-width: 1140px;

@position-width: 50px;
@player-width: 250px;
@score-width: 150px;
@day-width: (@total-width - @position-width - @player-width - @score-width) / 7;

table.leaderboard {
  table-layout: fixed;

  tr.me {
    background-color: #faa;
  }

  .position {
    vertical-align: middle;
    text-align: center;
    font-size: 150%;
    width: @position-width;
  }

  .player {
    vertical-align: middle;
    font-size: 110%;
    width: @player-width;

    .thumb {
      width: 60px;
      height: 60px;
    }
  }

  .score {
    font-size: 120%;
    vertical-align: middle;
    text-align: center;
    width: @score-width;

    .behindLeader {
      font-size: 80%;
    }
  }

  .day {
    vertical-align: middle;
    text-align: center;
    width: @day-width;

    &.active {
      background-color: rgba(179, 220, 108, 0.2);
    }
  }
}