.sport-icon-container {

  width: 44px;
  height: 44px;
  padding: 2px;
  border: 1px solid #333;
  border-radius: 10px;
  opacity: 0.8;

  &:hover {
    opacity: 1.0;
  }

  .sport-icon {
    width: 40px;
    height: 40px;
  }

  &.for-run {
    background-color: #b3dc6c;
  }
  &.for-bik {
    background-color: #fa573c;
  }
  &.for-hik {
    background-color: #ac725e;
  }
  &.for-row {
    background-color: #d06b64;
  }
  &.for-sqs {
    background-color: #b99aff;
  }
  &.for-swi {
    background-color: #ffad46;
  }
  &.for-ten {
    background-color: #9fe1e7;
  }
  &.for-vlb {
    background-color: #f691b2;
  }
  &.for-xcs {
    background-color: #cca6ac;
  }
  &.for-yog {
    background-color: #fad165;
  }
  &.for-wtr {
    background-color: #9fc6e7;
  }
}