@screen-width: 1100px;

@col-date-width: 120px;
@col-sport-icon-width: 60px;
@col-note-width: 200px;
@col-details-width: 90px;

@fixed-cols-width:  @col-date-width + @col-sport-icon-width + @col-note-width + @col-details-width;

@table-rows-sport-color-hover-fadeout: 85%;
@table-rows-sport-color-fadeout: 97%;

.workouts {
  .workouts-list {
    table-layout: fixed;

    th.date,
    td.date,
    th.sport,
    td.sport {
      text-align: center;
    }
    td {
      vertical-align: middle;
    }

    th.date,
    td.date {
      width: @col-date-width;
    }

    th.sport,
    td.sport {
      width: @col-sport-icon-width;
    }

    th.note,
    td.note {
      width: @col-note-width;
    }
    td.note {
      font-size: 90%;

      & > span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    th.time,
    td.time,
    th.distance,
    td.distance,
    th.elevation,
    td.elevation {
      width: (@screen-width - @fixed-cols-width) / 3;
    }

    th.details,
    td.details {
      width: @col-details-width;
    }
    td.details > .btn {
      visibility: hidden;
    }
    tr:hover td.details > .btn {
      visibility: visible;
    }

    /* TODO(koper) This is tedious, isn't there an easier way to achieve that?
                   If not it may be worth to eventually generate it programatically. */
    tr.sport-run {
      background-color: fadeout(@sport-color-run, @table-rows-sport-color-fadeout);
      &:hover {
        background-color: fadeout(@sport-color-run, @table-rows-sport-color-hover-fadeout);
      }
    }
    tr.sport-bik {
      background-color: fadeout(@sport-color-bik, @table-rows-sport-color-fadeout);
      &:hover {
        background-color: fadeout(@sport-color-bik, @table-rows-sport-color-hover-fadeout);
      }
    }
    tr.sport-hik {
      background-color: fadeout(@sport-color-hik, @table-rows-sport-color-fadeout);
      &:hover {
        background-color: fadeout(@sport-color-hik, @table-rows-sport-color-hover-fadeout);
      }
    }
    tr.sport-row {
      background-color: fadeout(@sport-color-row, @table-rows-sport-color-fadeout);
      &:hover {
        background-color: fadeout(@sport-color-row, @table-rows-sport-color-hover-fadeout);
      }
    }
    tr.sport-sqs {
      background-color: fadeout(@sport-color-sqs, @table-rows-sport-color-fadeout);
      &:hover {
        background-color: fadeout(@sport-color-sqs, @table-rows-sport-color-hover-fadeout);
      }
    }
    tr.sport-swi {
      background-color: fadeout(@sport-color-swi, @table-rows-sport-color-fadeout);
      &:hover {
        background-color: fadeout(@sport-color-swi, @table-rows-sport-color-hover-fadeout);
      }
    }
    tr.sport-ten {
      background-color: fadeout(@sport-color-ten, @table-rows-sport-color-fadeout);
      &:hover {
        background-color: fadeout(@sport-color-ten, @table-rows-sport-color-hover-fadeout);
      }
    }
    tr.sport-vlb {
      background-color: fadeout(@sport-color-vlb, @table-rows-sport-color-fadeout);
      &:hover {
        background-color: fadeout(@sport-color-vlb, @table-rows-sport-color-hover-fadeout);
      }
    }
    tr.sport-xcs {
      background-color: fadeout(@sport-color-xcs, @table-rows-sport-color-fadeout);
      &:hover {
        background-color: fadeout(@sport-color-xcs, @table-rows-sport-color-hover-fadeout);
      }
    }
    tr.sport-yog {
      background-color: fadeout(@sport-color-yog, @table-rows-sport-color-fadeout);
      &:hover {
        background-color: fadeout(@sport-color-yog, @table-rows-sport-color-hover-fadeout);
      }
    }
    tr.sport-wtr {
      background-color: fadeout(@sport-color-wtr, @table-rows-sport-color-fadeout);
      &:hover {
        background-color: fadeout(@sport-color-wtr, @table-rows-sport-color-hover-fadeout);
      }
    }
  }

  .ng-enter {
    -webkit-transition: 1s linear all; /* Safari/Chrome */
    -moz-transition: 1s linear all; /* Firefox */
    -o-transition: 1s linear all; /* Opera */
    transition: 1s linear all; /* IE10+ and Future Browsers */
     opacity: 0;
  }
  .ng-enter.ng-enter-active {
    opacity: 1;
  }
}