.home {
  .carousel-inner > .item > img {
    width: 100%;
  }
  .carousel-caption {
    font-size: 150%;
    text-align: right;
    right: 5%;
    left: 52%;
    top: 10%;

    a {
      color: #ffc;
    }
  }

  ul {
    li {
      margin-top: 10px;
    }
  }

  .subscribe-form {
    text-align: center;
    .make-row();
    
    .email-input input {
      .make-xs-column(6);
      .make-xs-column-offset(2);
      .make-md-column(4);
      .make-md-column-offset(3);
    }
    button[type="submit"] {
      .make-xs-column(2);
    }
  }
}