.transition(@duration: 0.2s, @ease: ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}

// TODO(koper) Unconditional column offset; should be present in Bootstrap in some form...
.make-column-offset(@columns) {
  margin-left: percentage((@columns / @grid-columns));
}

.progress-bar-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 10%));
  background-color: @color;
}