.workout-bands {
  .exercise-types-list {
    list-style-type: none;
    position: relative;

    li {
      display: inline-block;
      padding-right: 3px;
      cursor: pointer;
      position: absolute;
    }
  }
  svg {
    font: 11px sans-serif;
    shape-rendering: crispEdges;

   .time-axis text {
      text-anchor: start;
      alignment-baseline: hanging;
    }
    .value-axis text {
      text-anchor: middle;
      alignment-baseline: hanging;
    }
  }
}