@workout-height: 60px;
@workouts-header-height: 30px;

.workouts {
  .date-selection {
    margin-bottom: 10px;
  }

  .filter {
    .make-column-offset(3);
    .make-xs-column(6);
    .make-md-column(4);
    .make-md-column-offset(0);

    @media (max-width: 979px) {  // phone & tablet
      margin-top: 10px;
    }
  }

  &.gauge-mode-numbers .workout .workout-gauges .gauge {
    display: none;
  }
  &.gauge-mode-gauges {
    .numbers {
      visibility: hidden;
    }
    td:hover .numbers {
      visibility: visible;
    }
  }

  .workout {
    .make-row();
    padding: 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    clear: both;

    div {
      display: inline-block;
    }

    &.header {
      height: @workouts-header-height;
      background-color: #f5f5f5;
      color: #333;
    }

    th {
      & > .workout-info {
        & > .date-and-time {
          margin-top: 0;
        }
        & > .sport-icon {
          float: none;
          width: auto;
          margin-top: 0;
        }
      }
      & > .workout-gauges .pull-left {
        margin-left: 10px;
      }
    }

    &:hover .workout-info > .details {
      visibility: visible;
    }

    .workout-info {
      .make-xs-column(12);
      .make-md-column(4);

      & > .details {
        float: left;
        width: 10px;
        margin-top: -7px;
        margin-left: -22px;
        vertical-align: middle;
        visibility: hidden;
      }

      & > .date-and-time {
        float: left;
        width: 80px;
        text-align: center;
        vertical-align: middle;
        margin-top: 12px;
        & > .date {
          display: block;
        }
      }

      & > .sport-icon {
        float: left;
	width: 45px;
        vertical-align: middle;
        margin: 10px 8px 0;
      }

      & > .labels-and-note {
        vertical-align: top;
	display: block;
	overflow: hidden;

        & > .label {
          margin: 1px;
          display: inline-block;
        }
        & > .notes {
          display: block;
          text-overflow: ellipsis;
        }
      }
    }

    .workout-gauges {
      .make-row();
      .make-xs-column(12);
      .make-md-column(8);

      @media (max-width: 979px) {  // phone & tablet
        margin-top: 10px;
      }

      .gauge,
      .numbers {
        display: block;
      }
      .numbers {
        @media (min-width: 980px) {  // desktop
          padding: 0 15px;
        }
      }
      .progress {
        display: block;
      }

      & > .time-and-hr,
      & > .distance-and-pace,
      & > .elevation-and-steepness {
        .make-xs-column(4);
      }
    }
  }
}
