.workouts-mini-calendar {
  display: block;
  margin: auto;

  .year-labels text {
    text-anchor: start;
    alignment-baseline: hanging;
  }

  .month-labels text {
    text-anchor: middle;
  }

  .monthly-efforts {
    rect.selection {
      fill: #f5f5f5;
      stroke: black;
    }
  }
}
