<div class="progress pace" ng-hide="distance.getTotal().isZero()">
  <div class="progress-bar progress-bar-z0" style="width: 10%"></div>
  <div class="progress-bar progress-bar-z1" style="width: 15%"></div>
  <div class="progress-bar progress-bar-z2" style="width: 15%"></div>
  <div class="progress-bar progress-bar-z3" style="width: 15%"></div>
  <div class="progress-bar progress-bar-z4" style="width: 15%"></div>
  <div class="progress-bar progress-bar-z5" style="width: 15%"></div>
  <div class="progress-bar progress-bar-z6" style="width: 15%"></div>
</div>
