<form class="form-horizontal" role="form" name="myPerformanceForm" ng-controller="MyPerformanceCtrl">
  <h3>Heart rate zones</h3>
  <div class="form-group" ng-class="{'has-error': !myPerformanceForm.maxHR.$valid}">
    <label for="maxHR" class="col-xs-4 control-label">
      Your maximal heart rate (HRmax)
    </label>
    <div class="col-xs-2">
      <input ng-model="settings.maxHR" name="maxHR" min="100" max="230" required
             id="maxHR" type="number" class="form-control">
    </div>
  </div>

  <p class="text-center">Your computed heart rate zones</p>
  <div class="row">
    <p class="col-md-2"></p>
    <workout-gauge class="col-md-10" type="hr" zones="hrZonesDummyData" gauge-max="hrZonesDummyMax"></workout-gauge>
  </div>
  <div class="row">
    <p class="text-right col-md-2">Intensity:</p>
    <p class="text-center col-md-2" ng-repeat="zone in intensity" ng-bind="zone"></p>
  </div>
  <div class="row">
    <p class="text-right col-md-2">HR range:</p>
    <p class="text-center col-md-2" ng-repeat="zone in intensity" ng-bind="getHrZoneRange($index)"></p>
  </div>

  <h3>Pace zones: running</h3>
  <p>...</p>

  <h3>Pace zones: cycling</h3>
  <p>...</p>
</form>
