@media (min-width: 1200px) {
    .slide1 .carousel-caption {
	margin-top: 15%;
	margin-left: 8%;
	width: 40%;
    }
    .slide2 .carousel-caption {
	margin-top: 1%;
	margin-left: 50%;
	width: 30%;
    }
    .slide3 .carousel-caption {
	margin-top: 5%;
	margin-left: 50%;
	width: 30%;
    }
    .carousel .carousel-caption-container {
      position: relative;
      height: 620px;
      width: 1170px;
      margin-left: auto;
      margin-right: auto;
    }
    .carousel-caption-container:before,
    .carousel-caption-container:after {
      clear: both;
      display: table;
      content: "";
    }
    .carousel img {
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
    }
    .carousel-caption {
      background-color: rgba(0, 0, 0, 0.4);
      border: 1px solid #888;
    }
    .carousel-caption blockquote {
      color: #BBB;
    }
}
@media (max-width: 1199px) {
    .carousel-caption {
	float: left;
	clear: left;
	display: block;
        background-color: #eee;
        border: 1px solid #aaa;
    }
    .carousel-caption h4,
    .carousel-caption p {
	color: #333 !important;
    }
    .carousel-caption blockquote {
      color: #555;
    }
    .carousel-control {
      top: 20% !important;
    }
}

@media (min-width: 768px) {
    body {
        padding-top: 60px;
    }
    .linediv-l {
        border-right: 1px white solid;
    }
    .linediv-r {
        border-left: 1px white solid;
    }
}
@media (max-width: 767px) {
    .copy {
        padding: 2.5% 10%;
    }
    .linediv-l {
        border-bottom: 1px white solid;
    }
    .linediv-r {
        border-top: 1px white solid;
    }
    .hero-unit h1 {
	font-size: 40px;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .payment-buttons .method {
	float: left;
	clear: both;
    }
}
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.payment-buttons .method,
.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.hero-unit .span5 {
    padding: 3% 0;
}
.hero-unit h1 {
    font-variant: small-caps;
}
.hero-unit h4 {
    font-family: 'Indie Flower', cursive;
    font-size: 120%;
}
.carousel {
    margin-left: 5%;
    margin-right: 5%;
}
.carousel h4 {
    font-size: 170%;
    margin-bottom: 30px;
}
.carousel .btn {
    margin-top: 20px;
}
.carousel p {
    margin-bottom: 10px;
}
.carousel-caption {
    position: static;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 20px;
}
.carousel-caption blockquote {
    margin: 2em 0 0;
    font-size: 120%;
}
.carousel-caption blockquote.text-right {
    border-left: none;
    border-right: 5px solid #eeeeee;
    padding-right: 20px;
}
.navbar li {
    line-height: 40px;
}
.navbar-inverse .brand {
    padding-right: 35px;
}
p.lead {
    padding-top: 1.5%;
    font-size: 24px;
    line-height: 30px;
}
p {
    font-size: 18px;
    line-height: 24px;
}

.pitch {
    padding: 2.5% 0;
}
.order {
    padding: 2% 0%;
}
.actions {
    background-color: #343434;
    padding: 3% 0;
}
.thermometer,
.order,
.social,
.stats-disclaimer {
    color: #777;
    line-height: 10px;
}
.statistics {
    text-align: center;
}
.statistics h3,
.statistics p {
    color: white;
}

.copy {
    padding: 2.5% 0;
    text-align: justify;
}
.asset {
    padding: 2.5% 0;
}
.footer {
    color: #ccc;
    text-align: center;
}
.footer p {
    font-size: 11px;
}
.footer a {
    color: #ccf;
}
/* http://support.addthis.com/customer/portal/questions/1136093-share-buttons-in-center-position */
div.addthis_toolbox {
    width: 250px;
    margin: 0 auto;
}
.howitworks .step .badge {
    margin-right: 5px;
}
.howitworks .step {
    margin-bottom: 10px;
}
.howitworks h5 {
    margin-left: 0.5em;
    display: inline-block;
}
.howitworks em {
    margin-left: 1em;
}
.howitworks .alert {
    margin-top: 1em;
}
#tooltip {
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 15px;
}
#tooltip:after { /* triangle decoration */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}
#tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto;
}
#tooltip.left:after {
    left: 10px;
    margin: 0;
}
#tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0;
}
.pledge {
    position: relative;
    padding-top: 25px;
}
.pledge form {
    margin: 0;
}
.pledge:hover {
    cursor: pointer;
}
.pledge > input[type="radio"]:checked {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.pledge > input[type="radio"] ~ .payment-buttons {
    display: none;
}
.pledge > input[type="radio"]:checked ~ .payment-buttons {
    display: block;
}
.pledge:after {
    position: absolute;
    display: inline-block;
    top: -1px;
    right: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}
.pledge.level1:after {
    content: 'Thank you!'
}
.pledge.level2:after {
    content: 'Way to go!'
}
.pledge.level3:after {
    content: 'You are awesome!'
}
.pledge.level4:after {
    content: 'We love you!'
}
.pledge.level5:after {
    content: 'Mom, is that you?'
}
.preorder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: 10px;
}
#mce-EMAIL-alert form {
    margin-top: 10px;
}
#mce-EMAIL-alert a > img {
    margin: 0 4px;
    -webkit-filter: opacity(0.7)
}
#mce-EMAIL-alert a:hover > img {
    -webkit-filter: opacity(1)
}
#mce-EMAIL-box {
    margin-left: 4px;
    margin-bottom: 0;
}
#mc-embedded-subscribe-form {
    margin-bottom: 0;
}
