<div class="home">
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img src="/images/stopwatch.jpg" />
        <div class="container">
          <div class="carousel-caption">
            <h1>Welcome to Fitspector!</h1>
            <p>Fitspector is a service built to help sport enthusiasts better understand their workout data.</p>
            <p>Currently we are in private Beta.<br/>
              If you are interested in trying it out please<br/>
              <a href="http://blog.fitspector.com/post/74659062274/private-beta">click here</a> to learn more.
            </p>
            <p>If you already have access go ahead and <a href="/login">log-in</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Begin MailChimp Signup Form -->
  <div class="alert alert-info" id="mc_embed_signup">
    <h3 class="text-center">
      Subscribe to our mailing list for updates:
    </h3>
    <form action="http://fitspector.us7.list-manage.com/subscribe/post?u=680fae86b2a098eec071ae350&amp;id=42a462a6da"
          method="post" class="form-inline subscribe-form" role="form" novalidate
          id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
      <div class="email-input">
        <label class="sr-only" for="mce-EMAIL">Your email for Fitspector's mailing list subscription</label>
        <input type="email" name="EMAIL" class="form-control input-lg" id="mce-EMAIL" placeholder="Your email address" required>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_680fae86b2a098eec071ae350_42a462a6da" value=""></div>
      <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-success">
        Subscribe
      </button>
    </form>
  </div>
  <!--End mc_embed_signup-->
</div>
