<div class="home">
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img src="/img/stopwatch.jpg" />
        <div class="container">
          <div class="carousel-caption">
          <h1>Welcome to Fitspector!</h1>
          <p>Fitspector is a website built to help athletes better understand their workout data.</p>
          <p>Currently we are in private Beta.<br/>If you are interested in trying it out please contact us at <a href="mailto: beta@fitspector.com">beta@fitspector.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
