<div class="jumbotron">
  <div class="container">
    <h2>Login</h2>
    <p><span class="glyphicon glyphicon-warning-sign"></span>
      Please note that currently Fitspector is in private beta and access is restricted to approved users only.</p>
    <p>If you want to try the service <a href="http://blog.fitspector.com/post/74659062274/private-beta">learn here</a> how to apply for access.</p>
    <p>If you were already granted access just login with your RunKeeper account below.</p>

    <a href="" ng-click="loginRunKeeper()">
      <img src="http://static1.runkeeper.com/images/assets/login-blue-black-200x38.png"/>
    </a>
  </div>
</div>
