<div class="alert alert-danger">
  <strong>Login failed.</strong><br>
  Please note that Fitspector is in&nbsp;<I>private</I>&nbsp;Beta.<br/>
  Only authorized users are allowed to log-in.<br/>
  If you want to help testing Fitspector and apply for early access please:
  <ol>
    <li><a href="http://runkeeper.com/user/1282568636/profile">befriend Fitspector</a> in RunKeeper<sup>(*)</sup> and
    <li>send us a line at <a href="mailto: beta@fitspector.com">beta@fitspector.com</a> mentioning your RunKeeper name.
  </ol>
  <p>If you believe you should not be seeing this message please contact us at <a href="mailto: beta@fitspector.com">beta@fitspector.com</a>.
  <p><sup>(*)</sup> For now RunKeeper account is needed to use Fitspector; we are working on enabling Strava connectivity, stay tuned.</p>
</div>
