<div class="jumbotron">
  <div class="container">
    <h2>Welcome to Fitspector!</h2>
    <ul class="list-unstyled">
      <li>
        <a href="/workouts" class="btn btn-primary">
          <span class="glyphicon glyphicon-list-alt"></span>
          Workout log
        </a>
        see the list of your workouts.
      <li>
        <a href="" rel="tooltip" data-toggle="tooltip" title="Coming soon!"class="btn btn-primary">
          <span class="glyphicon glyphicon-tasks"></span> Compare with friends
        </a>
        see how you stack up against your friends.
    </ul>
  </div>
</div>
