<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavigationCtrl">
  <div class="container">
    <a class="logo" href="/">
      <img src="/images/logo.png">
    </a>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <!-- ---------------------------------------- Site navigation ---------------------------------------- -->
      <ul class="nav navbar-nav">
        <li ng-class="{active: isAt('workouts')}">
          <a href="/workouts">
            <span class="glyphicon glyphicon-list-alt"></span>
            Workout log
          </a>
        </li>
        <li ng-class="{active: isAt('compare')}">
          <a href="" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Coming soon!">
            <span class="glyphicon glyphicon-tasks"></span>
            Compare with friends
          </a>
        </li>
      </ul>

      <!-- ------------------------------------- Login/Logout dropdown ------------------------------------- -->
      <ul class="nav navbar-nav navbar-right">
        <li access-level="guest" ng-class="{active: isAt('login')}">
          <a href="/login">
            <span class="glyphicon glyphicon-log-in"></span>
            Login
          </a>
        </li>
        <li access-level="user" class="disabled">
          <a href="#">
            <span class="user-name" ng-bind="getUser().name"></span>
          </a>
        </li>
        <li access-level="user">
          <a href="#" class="dropdown-toggle user-toggle" data-toggle="dropdown">
            <img class="img-rounded" ng-src="{{getUser().smallImgUrl}}" />
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" ng-click="logout()">
                <span class="glyphicon glyphicon-off"></span> Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
