<div class="workouts" infinite-scroll="scrollWorkouts()">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Your workouts</h3>
    </div>
    <div class="panel-body">
      <div class="btn-toolbar">
<!--
        <div class="btn-group">
          <button class="btn btn-primary active">
            <span class="glyphicon glyphicon-list"></span>
            List
          </button>
          <button class="btn btn-primary" rel="tooltip" data-toggle="tooltip" title="Coming soon!">
            <span class="glyphicon glyphicon-calendar"></span>
            Calendar
          </button>
        </div>
-->
        <div class="btn-group">
          <button class="btn btn-primary"
                  bindonce
                  ng-repeat="mode in timeModes"
                  ng-class="{active: timeMode.id == mode.id}"
                  ng-click="setTimeMode(mode.id)"
                  bo-text="mode.desc">
          </button>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary"
                  bindonce
                  ng-repeat="mode in gaugeModes"
                  ng-class="{active: gaugeSettings.mode == mode.id}"
                  ng-click="gaugeSettings.mode = mode.id"
                  bo-text="mode.desc">
          </button>
        </div>
        <div class="col-lg-3">
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input type="search" class="form-control" ng-model="q" placeholder="Filter workouts..." />
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" ng-click="q = ''">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="text-center date-selection" ng-hide="timeMode.id == 'all'">
      <div class="btn-group">
        <button type="button"
                class="btn btn-primary"
                ng-class="{disabled: prevDisabled()}"
                ng-click="prev()">
          <span class="glyphicon glyphicon-chevron-left">
        </button>
        <button type="button"
                class="btn btn-primary"
                ng-click="goNow()"
                ng-bind="timeMode.desc">
        </button>
        <button type="button"
                class="btn btn-primary"
                ng-class="{disabled: nextDisabled()}"
                ng-click="next()">
          <span class="glyphicon glyphicon-chevron-right">
        </button>
      </div>
      <div>
        <small ng-bind="timeMode.fullDesc"></small>
      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item" ng-show="getWorkouts()">
        <workouts-summary-by-sport workouts="workouts" query-filter="q" sport-filter-listener="setSportFilter(sport)">
        </workouts-summary-by-sport>
      </li>
    </ul>

    <table class="table workouts-list">
      <tr ng-show="workouts">
        <th class="date">
          <span class="sortHandler" ng-click="orderBy('startTime')">Date</span>
          <sorting-ctrl this="startTime" selected="{{order}}"></sorting-ctrl>
        </th>
        <th class="sport">
          <span class="sortHandler" ng-click="orderBy('exerciseType')">Sport</span>
          <sorting-ctrl this="exerciseType" selected="{{order}}"></sorting-ctrl>
        </th>
        <th class="notes-and-labels">Notes</th>
        <th class="time-label">
          <span class="sortHandler" ng-click="orderBy('totalDuration.asSeconds()')">Time</span>
          <sorting-ctrl this="totalDuration.asSeconds()" selected="{{order}}"></sorting-ctrl>
        </th>
        <th class="hr-label">
          <span class="sortHandler" ng-click="orderBy('avgHR')">HR (avg)</span>
          <sorting-ctrl this="avgHR" selected="{{order}}"></sorting-ctrl>
        </th>
        <th class="distance-label">
          <span class="sortHandler" ng-click="orderBy('totalDistance.asMeters()')">Distance</span>
          <sorting-ctrl this="totalDistance.asMeters()" selected="{{order}}"></sorting-ctrl>
        </th>
        <th class="pace-label">
          <span class="sortHandler" ng-click="orderBy('pace.asTimePerKm().asSeconds()')">Pace (avg)</span>
          <sorting-ctrl this="pace.asTimePerKm().asSeconds()" selected="{{order}}"></sorting-ctrl>
        </th>
        <th class="elevation-label">
          <span class="sortHandler" ng-click="orderBy('totalElevation.asMeters()')">Elevation</span>
          <sorting-ctrl this="totalElevation.asMeters()" selected="{{order}}"></sorting-ctrl>
        </th>
        <th class="steepness-label">
          <span class="sortHandler" ng-click="orderBy('steepness.asMeters()')">Steepness</span>
          <sorting-ctrl this="steepness.asMeters()" selected="{{order}}"></sorting-ctrl>
        </th>
<!--
        <th class="icons">
        </th>
-->
        <th class="details">
        </th>
      </tr>
      <tr ng-hide="workouts">
        <td colspan="9" class="text-center">
          No workouts in the selected time period.
        </td>
      </tr>
      <tr bindonce ng-repeat="workout in getWorkouts() | filter: q | orderBy: order | limitTo: infiniteScrollingPosition track by workout.id"
          class="animate-workout-list sport-{{workout.exerciseType}}"
          ng-mouseover="gaugeSettings.selectedWorkout = workout.id"
          ng-mouseout="gaugeSettings.selectedWorkout = ''">
        <td class="date">
          <div bo-text="workout.startTime | date"></div>
          <div bo-text="workout.startTime | time"></div>
        </td>
        <td class="sport">
          <sport-icon sport-id="workout.exerciseType"></sport-icon>
        </td>
        <td class="notes-and-labels">
          <span bindonce ng-repeat="label in workout.labels" class="label label-primary" bo-text="label"></span>
          <span class="notes" bo-text="workout.notes"></span>
        </td>
        <td class="time-and-hr" colspan="2">
          <span ng-style="{visibility: gaugeSettings.mode != 'gauges' || gaugeSettings.selectedWorkout == workout.id ? 'visible' : 'hidden'}">
            <time value="workout.totalDuration"></time>
            <hr value="workout.avgHR"></hr>
          </span>
          <span ng-show="gaugeSettings.mode != 'numbers' && workout.hrZones">
            <workout-gauge type="hr"
                           zones="workout.hrZones"
                           gauge-max="maxGaugeTime">
            </workout-gauge>
          </span>
        </td>
        <td class="distance-and-pace" colspan="2" ng-class="{'gauge-with-numbers': gaugeSettings.mode == 'both'}">
          <span ng-style="{visibility: gaugeSettings.mode != 'gauges' || gaugeSettings.selectedWorkout == workout.id ? 'visible' : 'hidden'}">
            <distance value="workout.totalDistance"></distance>
            <pace value="workout.pace" exercise-type="workout.exerciseType"></pace>
          </span>
          <span ng-show="gaugeSettings.mode != 'numbers' && workout.paceZones">
            <workout-gauge type="pace"
                           zones="workout.paceZones"
                           gauge-max="maxGaugeDistance">
            </workout-gauge>
          </span>
        </td>
        <td class="elevation" colspan="2" ng-class="{'gauge-with-numbers': gaugeSettings.mode == 'both'}">
          <span ng-style="{visibility: gaugeSettings.mode != 'gauges' || gaugeSettings.selectedWorkout == workout.id ? 'visible' : 'hidden'}">
            <elevation value="workout.totalElevation"></elevation>
            <steepness value="workout.steepness"></steepness>
          </span>
          <span ng-show="gaugeSettings.mode != 'numbers' && workout.elevationZones">
            <workout-gauge type="elevation"
                           zones="workout.elevationZones"
                           gauge-max="maxGaugeDistance">
            </workout-gauge>
          </span>
        </td>
<!--
        <td class="icons">
          <span class="glyphicon glyphicon-thumbs-up"></span> 3
          <span class="glyphicon glyphicon-comment"></span> 10
        </td>
-->
        <td class="details">
          <a bindonce="workout" bo-show="workout.detailsUrl()" class="btn btn-primary btn-sm" bo-href="workout.detailsUrl()" target="_blank">
            <span class="glyphicon glyphicon-zoom-in"></span>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
