<div class="workouts" infinite-scroll="scrollWorkouts()">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Your workouts</h3>
    </div>
    <div class="panel-body">
      <div class="btn-toolbar">
        <div class="btn-group time-ctrls">
          <div class="text-center">
            <button class="btn btn-primary"
                    bindonce
                    ng-repeat="mode in timeModes"
                    ng-class="{active: timeMode.id == mode.id}"
                    ng-click="setTimeMode(mode.id)"
                    bo-text="mode.desc">
            </button>
          </div>
        </div>
        <div class="btn-group gauge-modes">
          <div class="text-center">
            <button class="btn btn-primary"
                    bindonce
                    ng-repeat="mode in gaugeModes"
                    ng-class="{active: gaugeSettings.mode == mode.id}"
                    ng-click="gaugeSettings.mode = mode.id"
                    bo-text="mode.desc">
            </button>
          </div>
        </div>
        <div class="filter">
          <form class="form-inline">
            <div class="input-group">
              <input type="search" class="form-control" ng-model="q" placeholder="Filter workouts..." />
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button" ng-click="q = ''">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="text-center date-selection" ng-hide="timeMode.id == 'all'">
      <div class="btn-group">
        <button type="button"
                class="btn btn-primary"
                ng-class="{disabled: prevDisabled()}"
                ng-click="prev()">
          <span class="glyphicon glyphicon-chevron-left">
        </button>
        <button type="button"
                class="btn btn-primary"
                ng-click="goNow()"
                ng-bind="timeMode.desc">
        </button>
        <button type="button"
                class="btn btn-primary"
                ng-class="{disabled: nextDisabled()}"
                ng-click="next()">
          <span class="glyphicon glyphicon-chevron-right">
        </button>
      </div>
      <div>
        <small ng-bind="timeMode.fullDesc"></small>
      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item" ng-show="sportFilter != 'all' || getWorkouts()">
        <workouts-summary-by-sport workouts="getWorkouts()" query-filter="q" sport-filter-listener="setSportFilter(exerciseTypeId)">
        </workouts-summary-by-sport>
      </li>
    </ul>

    <table class="workouts table gauge-mode-{{gaugeSettings.mode}}">
      <tr ng-hide="getWorkouts()">
        <td class="text-center">
          No
          <strong ng-if="sportFilter != 'all'" ng-bind="getFilteredSportName()"></strong>
          workouts in the selected time period.
        </td>
      </tr>
      <tr class="workout header" ng-show="getWorkouts()">
        <th>
          <div class="workout-info">
            <div class="date-and-time">
              <!-- TODO pack those pairs of tags into a single directive -->
              <span class="sortHandler" ng-click="orderBy('startTime')">Date</span>
              <sorting-ctrl this="startTime" selected="{{order}}"></sorting-ctrl>
            </div>
            <div class="sport-icon">
              <span class="sortHandler" ng-click="orderBy('exerciseType.id')">Sport</span>
              <sorting-ctrl this="exerciseType.id" selected="{{order}}"></sorting-ctrl>
            </div>
            <div class="labels-and-note">
              <span>Labels & notes</span>
            </div>
          </div>
          <div class="workout-gauges">
            <div class="time-and-hr">
              <div class="pull-left">
                <span class="sortHandler" ng-click="orderBy('totalDuration.asSeconds()')">Duration</span>
                <sorting-ctrl this="totalDuration.asSeconds()" selected="{{order}}"></sorting-ctrl>
              </div>
              <div class="pull-right">
                <span class="sortHandler" ng-click="orderBy('avgHR')">HR (avg)</span>
                <sorting-ctrl this="avgHR" selected="{{order}}"></sorting-ctrl>
              </div>
            </div>
            <div class="distance-and-pace">
              <div class="pull-left">
                <span class="sortHandler" ng-click="orderBy('totalDistance.asMeters()')">Distance</span>
                <sorting-ctrl this="totalDistance.asMeters()" selected="{{order}}"></sorting-ctrl>
              </div>
              <div class="pull-right">
                <span class="sortHandler" ng-click="orderBy('pace.asTimePerKm().asSeconds()')">Pace (avg)</span>
                <sorting-ctrl this="pace.asTimePerKm().asSeconds()" selected="{{order}}"></sorting-ctrl>
              </div>
            </div>
            <div class="elevation-and-steepness">
              <div class="pull-left">
                <span class="sortHandler" ng-click="orderBy('totalElevation.asMeters()')">Elevation</span>
                <sorting-ctrl this="totalElevation.asMeters()" selected="{{order}}"></sorting-ctrl>
              </div>
              <div class="pull-right">
                <span class="sortHandler" ng-click="orderBy('steepness.asMeters()')">Steepness</span>
                <sorting-ctrl this="steepness.asMeters()" selected="{{order}}"></sorting-ctrl>
              </div>
            </div>
          </div>
        </th>
      </tr>
      <tr bindonce="workout"
          ng-repeat="workout in getWorkouts() | filter: q | orderBy: order | limitTo: infiniteScrollingPosition track by workout.id"
          class="workout"
          ng-style="{'background-color': workout.exerciseType.bgColor}"
          ng-mouseover="gaugeSettings.selectedWorkout = workout.id"
          ng-mouseout="gaugeSettings.selectedWorkout = ''">
        <td>
          <div class="workout-info">
            <div class="details">
              <a ng-show="workout.detailsUrl()" class="btn btn-primary btn-xs" bo-href="workout.detailsUrl()" target="_blank"
                 rel="tooltip" data-toggle="tooltip" data-delay="500" title="Show workout details in RunKeeper (opens in a new window)">
                <span class="glyphicon glyphicon-zoom-in"></span>
              </a>
            </div>
            <div class="date-and-time">
              <div class="date" bo-text="workout.startTime | date"></div>
              <div class="time" bo-text="workout.startTime | time"></div>
            </div>
            <div class="sport-icon">
              <sport-icon exercise-type="workout.exerciseType"></sport-icon>
            </div>
            <div class="labels-and-note">
              <div bindonce ng-repeat="label in workout.labels" class="label label-primary" bo-text="label"></div>
              <div class="notes" bo-text="workout.notes"></div>
            </div>
          </div>
          <div class="workout-gauges">
            <div class="time-and-hr">
              <div class="numbers">
                <time value="workout.totalDuration"></time>
                <hr class="pull-right" value="workout.avgHR"></hr>
              </div>
              <div class="gauge">
                <workout-gauge type="hr"
                               zones="workout.hrZones"
                               gauge-max="maxGaugeTime">
                </workout-gauge>
              </div>
            </div>
            <div class="distance-and-pace">
              <div class="numbers">
                <distance ng-hide="workout.totalDistance.isZero()" value="workout.totalDistance"></distance>
                <pace class="pull-right" value="workout.pace" exercise-type="workout.exerciseType"></pace>
              </div>
              <div class="gauge">
                <workout-gauge type="pace"
                               zones="workout.paceZones"
                               gauge-max="maxGaugeDistance">
                </workout-gauge>
              </div>
            </div>
            <div class="elevation-and-steepness">
              <div class="numbers">
                <elevation ng-hide="workout.totalElevation.isZero()" value="workout.totalElevation"></elevation>
                <steepness class="pull-right" value="workout.steepness"></steepness>
              </div>
              <div class="gauge">
                <workout-gauge type="elevation"
                               zones="workout.elevationZones"
                               gauge-max="maxGaugeDistance">
                </workout-gauge>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
